@media (max-width: 1200px) {
    .h1 {
        font-size: 60px;
    }
    .right__img {
    margin-right: 0px;
}
}

@media (max-width: 1000px) {
    .item__to {
        padding-left: 50px;
    }
    .item {
        margin-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 800px) {
    .header__nav,
    .header__account {
        display: none;
    }
    .item__to {
        margin-right: 15px;
    }

    .header__btn {
        display: block;
    }

    .mobile__nav-active {
        transition: .3s linear;
        display: flex;
    }

    .h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .one__h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .hero  {
        margin-top: 150px;
    }
    .item {
        margin-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 700px) {
.container {
    display: block;
    flex-wrap: wrap;
    text-align: center;
}
.red__more {
    margin-bottom: 30px;
}
.item {
    flex-wrap: nowrap;
}
.right__img {
    margin-right: 0;
}
.one__h2 {
    width: 100%;
}
.level {
    width: 100%;
}
.hero {
    width: 100%;
    margin-bottom: 300px;
}
.item__img {
    max-width: none;
    margin: 0;
    padding: 0;
}
.item__to {
    display:inline-block;
}
.item__img img {
    display: inline-block;
    max-width: 400px;
    padding: 0;
    margin: 0;
}
.red__more {
    width: 180px;
}
.span__text-level {
    position: relative;
    padding-left: 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin-bottom: 30px;
}
.span__text-level::before {
    position: absolute;
    content: "";
    width: 255px;
    height: 2px;
    display: block;
    background-color: #FBD784;
    left: 29%;
    top: 110%;
    transform: translateY(-50%);
}
.footer__list-one {
    margin-right: 25px;
}
.footer__nav {
    height: 500px;
}
}

@media (max-width: 450px) {
    .header {
        width: 100%;
    }
    .footer {
        width: 412px;
    }
    .item__img img {
        max-width: 300px;
    }
    .main {
        width: 412px;
        display: block;
        margin: 0 auto;
    }
    .span__text-level::before {
    position: absolute;
    content: "";
    width: 186px;
    height: 2px;
    display: block;
    background-color: #FBD784;
    left: 21%;
    top: 110%;
    transform: translateY(-50%);
}
.foot__text-one {
    margin-bottom: 150px;
}
.copyright {
    width: 250px;
}
}